<section class="form1 cid-srmGhZz8Eh mbr-fullscreen mbr-parallax-background">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">

        <div class="dragArea row">

          <div class="form-group" data-for="surname">
            <a class="btn-sm btn-info display-8" routerLink="/manager">Назад</a>
          </div>

          <form [formGroup]="formTestCreate" (ngSubmit)="createTest()"
                class="mbr-form form-with-styler">
            <div class="col-12 align-center">
              <h2 *ngIf="!isCreateTest" class="mbr-section-title mb-4 display-2">
                <strong>Создание теста</strong>
              </h2>
              <h2 *ngIf="isCreateTest" class="mbr-section-title mb-4 display-2">
                <strong>Редактирование теста</strong>
              </h2>
            </div>
            <div class="row">
              <div class="col-12 form-group" data-for="selectTopic">
                <label *ngIf="checkForm.checkRequired(formTestCreate,'topicId')">Тематика теста</label>
                <select class="form-control form-select" (change)="changeTestSelect($event)"
                        formControlName="topicId"
                        aria-label="Default select example">
                  <option selected value="">Выберите тематику теста</option>
                  <option *ngFor="let topic of topics" [ngValue]="topic.id">{{topic.name}}</option>
                </select>
                <div *ngIf="validationTestForm.topicId.invalid && !isSubmitted" class="alert-danger col-12"
                     role="alert">
                  <div *ngIf="validationTestForm.topicId.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="name">
                <label *ngIf="checkForm.checkRequired(formTestCreate,'name')">Наименование теста</label>
                <input formControlName="name" type="text" placeholder="Наименование теста"
                       data-form-field="name" class="form-control" (change)="changeTestName($event)">
                <div class="alert-danger col-12" role="alert" *ngIf="validationTestForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.name.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                <label *ngIf="checkForm.checkRequired(formTestCreate,'description')">Описание теста</label>
                <textarea (change)="changeTestDescription($event)" formControlName="description" name="description"
                          placeholder="Описание теста" data-form-field="textarea" class="form-control">
                </textarea>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <label *ngIf="checkForm.checkRequired(formTestCreate,'duration')">
                  Продолжительность (мин)</label>
                <input formControlName="duration" type="number" placeholder="Продолжительность (мин)"
                       data-form-field="name" class="form-control" (change)="changeTestDuration($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.duration.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.duration.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.duration.errors.min">Минимально доступное время: 10 минут</div>
                  <div *ngIf="validationTestForm.duration.errors.max">Максимально доступное время: 300 минут</div>
                </div>
              </div>

              <div class="col-12 form-group">
                <label class="left" *ngIf="checkForm.checkRequired(formTestCreate,'passScore')">
                  Минимальное количество правильных ответов</label>
                <input formControlName="passScore" type="number" placeholder="Минимальное количество правильных ответов"
                       data-form-field="name" class="form-control" (change)="changeTestPassScore($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.passScore.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.passScore.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.passScore.errors.min">Минимально доступное значение: 1</div>
                  <div *ngIf="validationTestForm.passScore.errors.max">Максимально доступное время 300 минут</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <div class="alert-info col-12" role="alert"
                     *ngIf="message == 'Изменения внесены' && isSubmitted">
                  <div>{{message}}</div>
                </div>
              </div>

              <div *ngIf="!isCreateTest" class="col-md col-sm-12 form-group" data-for="name">
                <button type="submit" class="btn btn-success display-4">Создать тест</button>
              </div>
              <div *ngIf="isCreateTest" class="col-md col-sm-12 form-group" data-for="surname">
                <button type="submit" class="btn btn-success display-4">Сохранить тест</button>
              </div>
              <div *ngIf="isCreateTest" class="col-md col-sm-12 form-group" data-for="surname">
                <a (click)="deleteTest()" class="btn btn-danger display-4">Удалить</a>
              </div>
            </div>
          </form>

          <div *ngIf="isCreateTest" class="col-12">
            <div class="row">
              <div class="col-md col-sm-12 form-group" style="padding-left: 0px;">
                <button class="btn btn-info display-6" (click)="setFilter()">Фильтр</button>
              </div>
            </div>

            <ngx-treeview [items]="items" [config]="config" (selectedChange)="onSelectedChangeTest($event)"
                          (filterChange)="onFilterChangeTest($event)">
            </ngx-treeview>

            <div class="row" *ngIf="!selectNullQuestion">
              <div class="col-md col-sm-12 form-group" data-for="name" style="padding-left: 0px;">
                <button class="btn btn-success display-6" (click)="openModalChapter()">
                  {{getNameCreateButton()}} раздел
                </button>
              </div>
              <div class="col-md col-sm-12 form-group" data-for="surname">
                <button class="btn btn-success display-6" (click)="openModalQuestion()">
                  {{getNameCreateButton()}} вопрос
                </button>
              </div>
            </div>
            <div class="row" *ngIf="selectNullQuestion">
              <div class="col-md col-sm-12 form-group" data-for="name" style="padding-left: 0px;">
                <button class="btn btn-success display-6" (click)="openModalChapter()">
                  Редактировать раздел
                </button>
              </div>
              <div class="col-md col-sm-12 form-group" data-for="surname">
                <button class="btn btn-success display-6" (click)="openModalQuestion()">
                  Добавить вопрос
                </button>
              </div>
            </div>
          </div>

        </div>

        <app-modal *ngIf="showModalChapter" (close)="closeModalCreateChapter()">
          <div class="modal-header">
            <h4 class="align-center">{{getNameCreateButton()}} раздел</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModalCreateChapter()">&times;
            </button>
          </div>

          <form [formGroup]="formChapterCreate" (ngSubmit)="createChapter()"
                class="mbr-form form-with-styler">

            <div class="row modal-body">

              <div class="col-12 form-group" data-for="name">
                <label *ngIf="checkForm.checkRequired(formChapterCreate,'name')">Наименование раздела</label>
                <input formControlName="name" type="text" placeholder="Наименование раздела"
                       data-form-field="name" class="form-control"
                       (change)="changeChapterName($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationChapterForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationChapterForm.name.errors.required">Поле обязательно для
                    заполнения
                  </div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                <label *ngIf="checkForm.checkRequired(formChapterCreate,'description')">Описание</label>
                <textarea (change)="changeChapterDescription($event)" formControlName="description"
                          name="description" placeholder="Описание" class="form-control"></textarea>
              </div>

              <div class="col-12 modal-footer">
                <div class="col-md col-sm-12">
                  <button type="submit" class="btn btn-success display-4">{{getNameUpdateButton()}} раздел</button>
                </div>
                <div class="col-md col-sm-12" *ngIf="selectIsChapter">
                  <button (click)="deleteChapter()" class="btn btn-danger display-4">Удалить</button>
                </div>
              </div>

            </div>
          </form>
        </app-modal>

        <app-modal *ngIf="showModalQuestion" (close)="closeModalCreateQuestion()">

          <div class="modal-header">
            <h4 class="align-center">{{getNameCreateButton()}} вопрос</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="closeModalCreateQuestion()">&times;
            </button>
          </div>

          <form [formGroup]="formQuestionCreate" (ngSubmit)="createQuestion()" class="mbr-form form-with-styler">

            <div class="row modal-body">

              <div class="col-12 form-group">
                <label class="left" *ngIf="checkForm.checkRequired(formQuestionCreate,'chaptersSelect')">Раздел</label>
                  <select class="form-control form-select" (change)="onSelectedChapterQuestion($event)"
                          formControlName="chaptersSelect" aria-label="Default select example">
                    <option [value]="null" ngValue="null" hidden>Выберите раздел</option>
                    <option *ngFor="let chapter of chapters" [ngValue]="chapter.id">{{chapter.name}}</option>
                  </select>
                  <div *ngIf="validationQuestionForm.chaptersSelect.invalid && !isSubmitted" class="alert-danger col-12" role="alert">
                    <div *ngIf="validationQuestionForm.chaptersSelect.errors.required">Поле обязательно для заполнения</div>
                  </div>
              </div>

              <div class="col-12 form-group">
                <label class="left" *ngIf="checkForm.checkRequired(formQuestionCreate,'question')">Вопрос</label>
                    <textarea (change)="changeQuestion($event)" formControlName="question" name="question"
                              placeholder="Вопрос" class="form-control" [value]="question.question">
                    </textarea>
                  <div *ngIf="validationQuestionForm.question.invalid && !isSubmitted" class="alert-danger col-12" role="alert">
                    <div *ngIf="validationQuestionForm.question.errors.required">Поле обязательно для заполнения</div>
                  </div>
              </div>

              <div class="col-12 form-group">
                <label class="left" *ngIf="checkForm.checkRequired(formQuestionCreate,'questionTypeId')">Тип ответа</label>
                <select class="form-control form-select" (change)="changeQuestionTypeSelect($event)"
                        formControlName="questionTypeId" aria-label="Default select example">
                  <option [value]="null" ngValue="null" hidden>Выберите тип ответа</option>
                  <option *ngFor="let type of questionTypes" [ngValue]="type.id">{{type.name}}</option>
                </select>
                <div *ngIf="validationQuestionForm.questionTypeId.invalid && !isSubmitted" class="alert-danger col-12" role="alert">
                  <div *ngIf="validationQuestionForm.questionTypeId.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col col-sm-12 form-group"
                   *ngIf="questionType != null && questionType.name == 'Вопрос со свободным ответом'">
                <div class="col-12 form-group">
                  <h7 class="align-center">Ответ</h7>
                </div>

                <div class="col-12 form-group">
                    <textarea (change)="changeFreeAnswer($event)" formControlName="answerTest"
                              name="answer" placeholder="Ответ в свободной форме"
                              class="form-control">
                    </textarea>
                  <div *ngIf="validationQuestionForm.answerTest.invalid && !isSubmitted"
                       class="alert-danger col-12"
                       role="alert">
                    <div *ngIf="validationQuestionForm.answerTest.errors.required">Поле обязательно
                      для заполнения
                    </div>
                  </div>
                </div>
              </div>

              <div class="col col-sm-12 form-group"
                   *ngIf="questionType != null && questionType.name == 'Множественный'">
                <div class="row">
                  <div class="col-md col-sm-12 form-group">
                    <h7 class="align-center">Варианты ответов</h7>
                  </div>
                  <div class="col-md col-sm-12 form-group">
                    <a (click)="addAnswer()" class="btn btn-success display-4">Добавить вариант
                      ответа</a>
                  </div>
                  <table [formGroup]="formCheckbox" class="table table-sm">
                    <tbody>
                    <tr *ngFor="let answer of question.answers; let i=index">
                      <td class="align-middle">
                        <input type="checkbox" content="{{answer.id}}" value="{{answer.answer}}"
                               (change)="changeCheckboxAnswer($event)"
                               [checked]="answer.isCorrect"/>
                      </td>
                      <td class="align-middle">
                        <input content="{{answer.id}}" type="text" placeholder="Вариант ответа"
                               class="form-control"
                               (change)="changeInputAnswer($event)" [value]="answer.answer">
                      </td>
                      <td class="align-middle">
                        <button type="button" (click)="deleteAnswer(answer.id)"
                                class="btn btn-danger display-7"
                                [disabled]="question.answers.length < 4">Х
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="alert-danger col-12" role="alert"
                       *ngIf="formCheckbox.controls['checkArray'].errors?.required && !isSubmitted">
                    <div *ngIf="formCheckbox.controls['checkArray'].errors?.required">Не выбраны
                      правильные варианты ответа
                    </div>
                  </div>
                  <div class="alert-danger col-12" role="alert"
                       *ngIf="validationQuestionForm.answer.invalid && !isSubmitted">
                    <div *ngIf="validationQuestionForm.answer.errors.required">Варианты ответа
                      обязательны для заполнения
                    </div>
                  </div>
                </div>
              </div>

              <div class="col col-sm-12 form-group"
                   *ngIf="questionType != null && questionType.name == 'Одиночный'">
                <div class="row">
                  <div class="col-md col-sm-12 form-group">
                    <h7 class="align-center">Варианты ответов</h7>
                  </div>
                  <div class="col-md col-sm-12 form-group">
                    <a (click)="addAnswer()" class="btn btn-success display-4">Добавить вариант
                      ответа</a>
                  </div>
                  <table class="table table-sm">
                    <tbody>
                    <tr *ngFor="let answer of question.answers">
                      <td class="align-middle">
                        <input class="custom-radio" type="radio" id="{{answer.id}}" name="answer"
                               value="{{answer.answer}}" formControlName="answer"
                               (change)="changeRadioButtonAnswer($event)">
                      </td>
                      <td class="align-middle">
                        <input content="{{answer.id}}" type="text"
                               placeholder="Вариант ответа" class="form-control"
                               (change)="changeInputAnswer($event)" [value]="answer.answer">
                      </td>
                      <td class="align-middle">
                        <button type="button" (click)="deleteAnswer(answer.id)"
                                class="btn btn-danger display-7"
                                [disabled]="question.answers.length < 3">Х
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="alert-danger col-12" role="alert"
                       *ngIf="validationQuestionForm.answer.invalid &&!isSubmitted">
                    <div *ngIf="validationQuestionForm.answer.errors.required">Варианты ответа
                      обязательны для
                      заполнения
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 modal-footer">
                <div class="col-md col-sm-12" data-for="name">
                  <button type="submit" class="btn btn-success display-4">{{getNameUpdateButton()}} вопрос</button>
                </div>
                <div class="col-md col-sm-12" data-for="surname" *ngIf="selectIsChapter">
                  <button (click)="deleteQuestion()" class="btn btn-danger display-4">Удалить</button>
                </div>
              </div>

            </div>
          </form>
        </app-modal>

      </div>
    </div>
  </div>
  <app-modal-outlet></app-modal-outlet>
</section>
