<section class="form1 cid-srmGhZz8Eh mbr-fullscreen mbr-parallax-background">
  <div class="mbr-overlay" style="opacity: 1; background-color: rgb(255, 255, 255);"></div>
  <div class="align-center container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">

        <div class="dragArea row">

          <form *ngIf="!isCreateTest" [formGroup]="formTestCreate" (ngSubmit)="createTest()"
                class="mbr-form form-with-styler">
            <div class="col-12">
              <h2 class="mbr-section-title mb-4 display-2">
                <strong>Создание теста</strong>
              </h2>
            </div>
            <div class="row">
              <div class="col-12 form-group" data-for="selectTopic">
                <select class="form-control form-select" (change)="changeTestSelect($event)" formControlName="topicId"
                        aria-label="Default select example">
                  <option selected value="">Выберите тематику теста</option>
                  <option *ngFor="let topic of topics" [ngValue]="topic.id">{{topic.name}}</option>
                </select>
                <div *ngIf="validationTestForm.topicId.invalid && !isSubmitted" class="alert-danger col-12"
                     role="alert">
                  <div *ngIf="validationTestForm.topicId.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="name">
                <input formControlName="name" type="text" placeholder="Наименование теста"
                       data-form-field="name" class="form-control" (change)="changeTestName($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.name.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                <textarea (change)="changeTestDescription($event)" formControlName="description" name="description"
                          placeholder="Описание"
                          data-form-field="textarea" class="form-control">
                </textarea>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <input formControlName="duration" type="number" placeholder="Продолжительность (мин)"
                       data-form-field="name" class="form-control" (change)="changeTestDuration($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.duration.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.duration.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.duration.errors.min">Минимально доступное время: 10 минут</div>
                  <div *ngIf="validationTestForm.duration.errors.max">Максимально доступное время: 300 минут</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <input formControlName="passScore" type="number" placeholder="Минимальное количество правильных ответов"
                       data-form-field="name" class="form-control" (change)="changeTestPassScore($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.passScore.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.passScore.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.passScore.errors.min">Минимально доступное значение: 1</div>
                  <!--                  <div *ngIf="validationTestForm.passScore.errors.max">Максимально доступное время 300 минут</div>-->
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                <button type="submit" class="btn btn-success display-4">Создать тест</button>
              </div>
            </div>
          </form>

          <form *ngIf="isCreateTest" [formGroup]="formTestCreate" (ngSubmit)="editTest()"
                class="mbr-form form-with-styler">
            <div class="col-12">
              <h2 *ngIf="isCreateTest" class="mbr-section-title mb-4 display-2">
                <strong>Редактирование теста</strong>
              </h2>
            </div>
            <div class="row">
              <div class="col-12 form-group" data-for="selectTopic">
                <select class="form-control form-select" (change)="changeTestSelect($event)" formControlName="topicId"
                        aria-label="Default select example">
                  <option selected value="">Выберите тематику теста</option>
                  <option *ngFor="let topic of topics" [ngValue]="topic.id">{{topic.name}}</option>
                </select>
                <div *ngIf="validationTestForm.topicId.invalid && !isSubmitted" class="alert-danger col-12"
                     role="alert">
                  <div *ngIf="validationTestForm.topicId.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="name">
                <input formControlName="name" type="text" placeholder="Наименование теста"
                       data-form-field="name" class="form-control" (change)="changeTestName($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.name.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                <textarea (change)="changeTestDescription($event)" formControlName="description" name="description"
                          placeholder="Описание"
                          data-form-field="textarea" class="form-control">
                </textarea>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <input formControlName="duration" type="number" placeholder="Продолжительность (мин)"
                       data-form-field="name" class="form-control" (change)="changeTestDuration($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.duration.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.duration.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.duration.errors.min">Минимально доступное время: 10 минут</div>
                  <div *ngIf="validationTestForm.duration.errors.max">Максимально доступное время: 300 минут</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="duration">
                <input formControlName="passScore" type="number" placeholder="Минимальное количество правильных ответов"
                       data-form-field="name" class="form-control" (change)="changeTestPassScore($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationTestForm.passScore.invalid && !isSubmitted">
                  <div *ngIf="validationTestForm.passScore.errors.required">Поле обязательно для заполнения</div>
                  <div *ngIf="validationTestForm.passScore.errors.min">Минимально доступное значение: 1</div>
                  <!--                  <div *ngIf="validationTestForm.passScore.errors.max">Максимально доступное время 300 минут</div>-->
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                <button type="submit" class="btn btn-success display-4">Сохранить тест</button>
              </div>
            </div>
          </form>

          <div *ngIf="isCreateTest" class="col-12">

            <ngx-treeview [items]="items" [config]="config"
                          (selectedChange)="onSelectedChangeTest($event)"
                          (filterChange)="onFilterChangeTest($event)">
            </ngx-treeview>

            <div class="row">
              <div class="col-md col-sm-12 form-group" data-for="name" style="padding-left: 0px;">
                <button class="btn btn-success display-6" (click)="openModalNewChapter()">Добавить раздел</button>
              </div>
              <div class="col-md col-sm-12 form-group" data-for="surname">
                <button class="btn btn-success display-6" (click)="openModalNewQuestion()">Добавить вопрос</button>
              </div>
            </div>
          </div>
        </div>
        <!--          <div class="row justify-content-center mt-4">-->
        <!--            <ngx-treeview [items]="items"></ngx-treeview>-->
        <!--            <div class="col-12">-->
        <!--              <div>-->
        <!--                <table class="table table-borderless table-hover">-->
        <!--                  <tbody>-->
        <!--                  <tr>-->
        <!--                    <td>Создать раздел</td>-->
        <!--                    <td>Описание</td>-->
        <!--                    <td></td>-->
        <!--                  </tr>-->
        <!--                  <tr *ngFor="let chapter of test.chapters">-->
        <!--                    <td class="align-middle">{{ chapter.name }}</td>-->
        <!--                    <td class="align-middle">{{ chapter.description }}</td>-->
        <!--                    <td class="align-right"><a class="btn btn-info-outline display-12"-->
        <!--                                               (click)="openModalEditChapter(chapter.id)">Редактировать</a></td>-->
        <!--                  </tr>-->
        <!--                  </tbody>-->
        <!--                </table>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--      </div>-->

        <app-modal *ngIf="showModalChapter" (close)="closeModalCreateChapter()">
          <form [formGroup]="formChapterCreate" (ngSubmit)="createChapter()" class="mbr-form form-with-styler">
            <div class="row">
              <div class="col-12 form-group" data-for="name">
                <h4 *ngIf="!isCreateChapter" class="align-center">Создание раздела</h4>
                <h4 *ngIf="isCreateChapter" class="align-center">Редактирование раздела</h4>
              </div>

              <div class="col-12 form-group" data-for="name">
                <input formControlName="name" type="text" placeholder="Наименование раздела"
                       data-form-field="name" class="form-control" (change)="changeChapterName($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationChapterForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationChapterForm.name.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                    <textarea (change)="changeChapterDescription($event)" formControlName="description"
                              name="description"
                              placeholder="Описание" data-form-field="textarea" class="form-control">

                    </textarea>
              </div>

              <div class="col-md col-sm-12 form-group" data-for="name">
                <button *ngIf="!isCreateChapter" type="submit" class="btn btn-success display-4">Создать раздел
                </button>
                <button *ngIf="isCreateChapter" type="submit" class="btn btn-success display-4">Сохранить раздел
                </button>
              </div>
              <div class="col-md col-sm-12 form-group" data-for="surname">
                <a (click)="closeModalCreateChapter()" class="btn btn-info display-4">Закрыть</a>
              </div>
            </div>
          </form>
        </app-modal>

        <app-modal *ngIf="showModalQuestion" (close)="closeModalCreateChapter()">
          <form [formGroup]="formChapterCreate" (ngSubmit)="createChapter()" class="mbr-form form-with-styler">
            <div class="row">
              <div class="col-12 form-group" data-for="name">
                <h4 *ngIf="!isCreateQuestion" class="align-center">Создание вопроса</h4>
                <h4 *ngIf="isCreateQuestion" class="align-center">Редактирование вопроса</h4>
              </div>

              <div class="col-12 form-group" data-for="selectTopic">
                <select class="form-control form-select" (change)="changeTestSelect($event)" formControlName="topicId"
                        aria-label="Default select example">
                  <option selected value="">Выберите тематику теста</option>
                  <option *ngFor="let topic of topics" [ngValue]="topic.id">{{topic.name}}</option>
                </select>
                <div *ngIf="validationTestForm.topicId.invalid && !isSubmitted" class="alert-danger col-12"
                     role="alert">
                  <div *ngIf="validationTestForm.topicId.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="name">
                <input formControlName="name" type="text" placeholder="Наименование раздела"
                       data-form-field="name" class="form-control" (change)="changeChapterName($event)">
                <div class="alert-danger col-12" role="alert"
                     *ngIf="validationChapterForm.name.invalid && !isSubmitted">
                  <div *ngIf="validationChapterForm.name.errors.required">Поле обязательно для заполнения</div>
                </div>
              </div>

              <div class="col-12 form-group" data-for="textarea">
                    <textarea (change)="changeChapterDescription($event)" formControlName="description"
                              name="description"
                              placeholder="Описание" data-form-field="textarea" class="form-control">

                    </textarea>
              </div>

              <div class="col-md col-sm-12 form-group" data-for="name">
                <button *ngIf="!isCreateQuestion" type="submit" class="btn btn-success display-4">Создать раздел
                </button>
                <button *ngIf="isCreateQuestion" type="submit" class="btn btn-success display-4">Сохранить раздел
                </button>
              </div>
              <div class="col-md col-sm-12 form-group" data-for="surname">
                <a (click)="closeModalCreateChapter()" class="btn btn-info display-4">Закрыть</a>
              </div>
            </div>
          </form>
        </app-modal>


      </div>
    </div>
  </div>
  <app-modal-outlet></app-modal-outlet>
</section>
