<section class="tabs content18 cid-srn9kG2mng mbr-fullscreen" id="tabs1-14">
  <script type="application/javascript" defer src="./assets/mbr-tabs/mbr-tabs.js"></script>
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-11">
        <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2"><strong>Панель
          администратора</strong></h3>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <ul class="nav nav-tabs mb-4" role="tablist">
          <li class="nav-item first mbr-fonts-style">
            <a class="nav-link mbr-fonts-style show active display-7"
               role="tab" data-toggle="tab" href="#tabs1-14_tab0" aria-selected="true">
              <strong>Пользователи</strong>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane" role="tabpanel">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="colorTableHeader">
                  <tr>
                    <th scope="col" class="align-middle">Username</th>
                    <th scope="col" class="align-middle">Email</th>
                    <th scope="col" class="align-middle">Имя</th>
                    <th scope="col" class="align-middle">Фамилия</th>
                    <th scope="col" class="align-middle">Активные роли</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of users">
                    <td class="align-middle">{{ user.username }}</td>
                    <td class="align-middle">{{ user.email }}</td>
                    <td class="align-middle">{{ user.firstName }}</td>
                    <td class="align-middle">{{ user.lastName }}</td>
                    <td class="align-middle">{{ getNamesRoles(user.roles) }}</td>
                    <td class="align-middle">
                      <a class="btn btn-info-outline btn-sm" (click)="openModalEditUser(user.id)"
                         style="white-space: nowrap;"><span class="mobi-mbri-edit-2" aria-hidden="true"></span></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <app-modal class="modal" *ngIf="showModal" (close)="closeModal()">

              <div class="modal-header">
                <h4 class="modal-title">Редактирование пользователя</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
                  &times;
                </button>
              </div>

              <form name="form" (ngSubmit)="fUser.form.valid && editUser()"
                    #fUser="ngForm" (click)="fUser"
                    novalidate class="mbr-form form-with-styler">
                <div class="row modal-body">

                  <div class="col-12 form-group" data-for="id">
                    <input type="hidden" name="id" data-form-field="id" [(ngModel)]="user.id"
                           #id="ngModel">
                  </div>

                  <div class="col-sm-12 form-group">
                    <div>
                      <label>Роли пользователя:</label>
                      <div class="checkbox" *ngFor="let role of roles">
                        <label><input type="checkbox"
                                      [checked]="isActiveRole(role)" (change)="changeRole(role)"> {{ role.name.substring(5) }}</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md form-group" data-for="name">
                    <input id="name-form5-y" type="text" name="firstName"
                           [(ngModel)]="user.firstName" required minlength="3" maxlength="20"
                           #firstName="ngModel"
                           placeholder="Фамилия" data-form-field="name" class="form-control">
                    <div class="alert-danger" *ngIf="firstName.errors && fUser.submitted">
                      <div *ngIf="firstName.errors.required">Поле обязательно для заполнения</div>
                      <div *ngIf="firstName.errors.minlength">
                        Данное поле не может содержать меньше 3 символов
                      </div>
                      <div *ngIf="firstName.errors.maxlength">
                        Данное поле не может содержать больше 20 символов
                      </div>
                    </div>
                  </div>

                  <div class="col-md form-group" data-for="surname">
                    <input id="surname-form5-y" type="text" name="lastName"
                           [(ngModel)]="user.lastName" required minlength="3" maxlength="20"
                           #lastName="ngModel"
                           placeholder="Имя" data-form-field="name" class="form-control">
                    <div class="alert-danger" *ngIf="lastName.errors && fUser.submitted">
                      <div *ngIf="lastName.errors.required">Поле обязательно для заполнения</div>
                      <div *ngIf="lastName.errors.minlength">
                        Данное поле не может содержать меньше 3 символов
                      </div>
                      <div *ngIf="lastName.errors.maxlength">
                        Данное поле не может содержать больше 20 символов
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 form-group" data-for="email">
                    <input id="email-form5-y" type="email" class="form-control" name="email"
                           placeholder="Email"
                           [(ngModel)]="user.email" required email #email="ngModel"/>
                    <div class="alert-danger" *ngIf="email.errors && fUser.submitted">
                      <div *ngIf="email.errors.required">Поле обязательно для заполнения</div>
                      <div *ngIf="email.errors.email">Формат поля email нарушен</div>
                    </div>
                  </div>

                  <div class="col-md col-sm-12 form-group" data-for="login">
                    <input type="text" name="login" placeholder="Логин" data-form-field="username"
                           class="form-control" value="" id="login-form5-y"
                           [(ngModel)]="user.username"
                           required minlength="3" maxlength="20" #username="ngModel">
                    <div class="alert-danger" *ngIf="lastName.errors && fUser.submitted">
                      <div *ngIf="username.errors.required">Поле обязательно для заполнения</div>
                      <div *ngIf="username.errors.minlength">
                        Данное поле не может содержать меньше 3 символов
                      </div>
                      <div *ngIf="username.errors.maxlength">
                        Данное поле не может содержать больше 20 символов
                      </div>
                    </div>
                  </div>

                  <div class="alert alert-danger col-12"
                       *ngIf="fUser.submitted && isEditUserFailed">
                    Ошибка редактирования пользователя!<br/>{{ errorMessage }}
                  </div>

                  <div class="col-12 mbr-section-btn modal-footer">
                    <table class="col-12 form-group align-center">
                      <tr>
                        <th scope="col" class="align-middle">
                          <button type="submit" class="btn btn-success display-4">Сохранить</button>
                        </th>
                        <th scope="col" class="align-middle">
                          <button (click)="deleteUser()" class="btn btn-danger display-4">Удалить</button>
                        </th>
                        <th scope="col" class="align-middle">
                          <button (click)="resetPass()" class="btn btn-danger display-4">Сбросить пароль</button>
                        </th>
                      </tr>
                    </table>
                  </div>

                </div>
              </form>

            </app-modal>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal-outlet></app-modal-outlet>
</section>
