<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
  <div class="align-center container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Сервис онлайн тестирования</strong></h1>
        <h2 class="mbr-section-title mbr-fonts-style mb-3 display-2">Добро пожаловать!</h2>
        <p class="mbr-text mbr-fonts-style display-7">
          Дорогой друг, мы рады приветствовать Вас на нашем портале онлайн тестирования.
          Данный ресурс позволит Вам проверить свои знания во всем многообразии окружающего мира.
          Вы сможете создать собственный тест и пригласить людей для его прохождения.
          И это все абсолютно бесплатно!</p>
          <p class="mbr-text mbr-fonts-style display-7" *ngIf="!isLoggedIn">
          Все что от Вас требует это <a routerLink="/login">войти</a> или <a routerLink="/register">зарегестрироваться</a>
          </p>
      </div>
    </div>
  </div>
</section>
