<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
  <title>Registration </title>
</head>
<body>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  Add new user.
</div>
<span th:text="${message}">Field</span>
<form th:action="@{/registration}" method="post">
  <div><label> User Name : <input type="login" name="login"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Registration"/></div>
</form>
</body>
</html>