<section class="form1 cid-srmGhZz8Eh mbr-fullscreen mbr-parallax-background" id="form1-x">
  <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
  <div class="align-center container">
    <div class="row justify-content-center">
      <div class="col-lg-5 mx-auto mbr-form" data-form-type="formoid">

        <div *ngIf="isSuccessful" class="dragArea row">
          <div class="col-12">
            <h1 class="mbr-section-title mb-4 display-2">
              <strong>Are you registered</strong>
            </h1>
            <div class="col-lg-12 col-md-12 col-sm-12 align-center">
              <a routerLink="/login">Please, sign in personal area</a>
            </div>
          </div>
        </div>

        <form class="mbr-form form-with-styler" data-form-title="Form Name"
              *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="dragArea row">
            <div class="col-12">
              <h1 class="mbr-section-title mb-4 display-2">
                <strong>Create your account</strong>
              </h1>
            </div>

            <div class="col-md col-sm-12 form-group" data-for="name">
              <input id="name-form5-y" type="text" name="name"
                     [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"
                     placeholder="First Name" data-form-field="name" class="form-control">
              <div class="alert-danger" *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  First Name must be at least 3 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  First Name must be at most 20 characters
                </div>
              </div>
            </div>

<!--            <div class="col-md col-sm-12 form-group" data-for="surname">-->
<!--              <input id="surname-form5-y" type="text" name="surname"-->
<!--                     [(ngModel)]="form.surname" required minlength="3" maxlength="20" #surname="ngModel"-->
<!--                     placeholder="Last Name" data-form-field="name" class="form-control">-->
<!--              <div class="alert-danger" *ngIf="surname.errors && f.submitted">-->
<!--                <div *ngIf="surname.errors.required">Username is required</div>-->
<!--                <div *ngIf="surname.errors.minlength">-->
<!--                  Last Name must be at least 3 characters-->
<!--                </div>-->
<!--                <div *ngIf="surname.errors.maxlength">-->
<!--                  Last Name must be at most 20 characters-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

            <div class="col-sm-12 form-group" data-for="email">
              <input id="email-form5-y" type="email" class="form-control" name="email" placeholder="Email"
                     [(ngModel)]="form.email" required email #email="ngModel"/>
              <div class="alert-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>

<!--            <div class="col-md col-sm-12 form-group" data-for="login">-->
<!--              <input type="text" name="login" placeholder="Login" data-form-field="login"-->
<!--                     class="form-control" value="" id="login-form5-y" [(ngModel)]="form.login" required #login="ngModel">-->
<!--              <div class="alert-danger col-12" role="alert" *ngIf="login.errors && f.submitted">Login is required!</div>-->
<!--            </div>-->

            <div class="col-md col-sm-12 form-group" data-for="password">
              <input type="password" name="password" placeholder="Password" data-form-field="password"
                     class="form-control" value="" id="password-form5-y"
                     [(ngModel)]="form.password" required minlength="6" #password="ngModel">
              <div class="alert-danger col-12" role="alert" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>

            <div class="col-12 form-group" data-for="repeat">
              <input type="password" name="repeat"  placeholder="Confirm password" data-form-field="repeat"
                     [(ngModel)]="form.repeat" #repeat="ngModel" pattern="{{password.value}}" required class="form-control" value="" id="url-form5-y">
              <div class="alert-danger col-12" role="alert" *ngIf="repeat.errors && f.submitted">
                <div *ngIf="repeat.errors.required">Confirm password is required</div>
                <div *ngIf="repeat.errors.pattern">Your passwords must match.</div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
              <button class="btn btn-success display-4">Create account</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
